 body {
    background-image: url(2.jpg);
    background-position: center;
    background-size: cover;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}
         .block{
   width: 320px;
    height: 390px;
    background: radial-gradient(rgba(255, 255, 255, 0.6));
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}

          
         a{
              text-decoration: none;
               color:black;
         }
          button a{
            text-decoration: none;
            color:black;
        }
     
button:hover {
    color: #000;
    background: #fff;
}

